.todo {
  @include p($size: 3);
  @include mb($size: 4);
  border: 1px solid $borderColorDefault;
  border-radius: $borderRadiusDefault;
  background-color: $color2;
}

.todoCompleted {
  border: 1px solid lighten($colorSuccess, 10);
  background-color: lighten($colorSuccess, 35);
}

.todoNameCompleted {
  text-decoration: line-through;
  opacity: .5;
}

.todoBody {
  display: flex;
  align-items: center;
}

.todoCheckBoxWrapper {
  @include mr($size: 4)
}

.todoCheckBox {
  display: block;
  width: 20px;
  height: 20px;
  border: 3px solid lighten($colorError, 10);
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    border-color: $colorSuccess;
    background-color: lighten($colorSuccess, 20);
  }
}

.todoCheckBoxCompleted {
  border-color: $colorSuccess;
  background-color: lighten($colorSuccess, 20);
}

.todoRemoveWrapper {
  display: flex;
  justify-content: center;
  margin-left: auto;
  border-radius: 50%;
  border: 1px solid lighten($colorError, 20);;
  background-color: lighten($colorError, 50);
  opacity: .5;

  &:hover {
    opacity: 1;
  }
}

.todoRemove {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 21px;
  height: 21px;
  position: relative;
  color: $colorError;
  cursor: pointer;
  opacity: .5;
  cursor: pointer;
}
